/* Reset some default margin and padding */
h1,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

/* Basic styling for header */
header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    /* Ensure header stays on top of other content */
}

.image-container {
    padding-left: 50px;
    width: 120px;
    /* Adjust as needed */
    height: auto;
    /* To maintain aspect ratio */
}

/* Styling for header content */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for navigation */
nav ul {
    list-style: none;
    padding-right: 50px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.card-container-wrapper {
    overflow-y: scroll;
    padding-top: 100px;
    /* Added padding to accommodate the fixed header */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    z-index: -1;
}

.card {
    flex-basis: calc(20% - 50px);
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.card-img {
    width: 100%;
    /* Ensure image takes full width of card */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 270px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.card-info {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Basic styling for footer */
.card-info {
    padding: 5px 10px;
    margin: 0;
    font-size: 16px;
    text-align: center;
}

.rows-container {
    display: flex;

}

.comment-btn,
.stream-btn {
    margin-right: 10px;
    padding: 8px 16px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto;
    /* Center the buttons horizontally */
}

.comment-btn:hover,
.stream-btn:hover {
    background-color: #4CAF50;
    ;
}

/* Media Query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .card {
        flex-basis: 100%;
        /* Set each card to take up 100% of the container width */
        margin: 0 auto;
        /* Adjust the width for smaller screens */
    }

    .wrapper2 {
        flex-direction: column;
        /* Stack columns vertically on smaller screens */
        align-items: center;
        /* Center columns horizontally */
    }
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.wrapper2 {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    justify-content: space-around;
    /* Distribute items evenly with space around them */
    border-top: 1px solid #4CAF50;
    padding: 10px;
    box-sizing: border-box;
}

.column {
    flex: 1;
    /* Make columns flexible to adjust based on available space */
    min-width: 250px;
    /* Set a minimum width for each column */
    max-width: 300px;
    /* Set a maximum width for each column */
    padding: 10px;
    margin-bottom: 20px;
    /* Add some space between columns */
    background-color: grey;
    box-sizing: border-box;
}

.column h3 {
    padding-top: 1px;
}

.column h1 {
    color: #4CAF50;
}

.input-wrapper {
    display: flex;
    margin-top: 20px;
}

input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Styling for footer content */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}

/* Styling for social icons */
.social-icons {
    display: flex;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
    /* Add some space between the icons */
    text-decoration: none;
}

.popup-container {
    display: none;
    overflow-y: scroll;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    height: 95%;
    background-size: cover;
    /* Ensure the background image covers the entire element */
    background-position: center;
    padding: 20px;
    border-radius: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    color: white;
}

.popup input,
.popup textarea {
    width: 600px;
    margin-bottom: 10px;
    height: 40px;
}

grid layout .comment-text {
    height: 10px;
}

.close {
    position: absolute;
    top: 8%;
    right: 5%;
    font-size: 20px;
    cursor: pointer;

}